@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html,body {

	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: normal;
	font-style: normal;
}

h1,h2,h3,h4,h5,h6,p {
	margin:0;
	padding:0;
}


.open-button-primary {
	height: 45px;
	background: $main-blue;
    box-shadow: 0px 10px 20px -5px rgba(8, 72, 146, 0.35);
	border-radius: 25px;
	font-family: Rubik;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	display: flex;
    text-transform: uppercase;
    color: #FFFFFF;
	padding: 0px 15px;

	&:hover {

	}

}

.headng-one {
	font-family: 'Rubik', sans-serif;
	
	font-weight: 500;
	font-size: 49px;
	line-height: 58px;
}

.open-para-25 {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 25px;
	line-height: 30px;
}


.open-para-18 {
	font-size: 18px;
	line-height: 25px;
}

.open-rubik {
	font-family: 'Rubik', sans-serif;
}

.open-sans {
	font-family: 'Open Sans', sans-serif;
}

.open-blue {
    color:#084892;
}

.open-white {
	color: #fff
}

.open-gray {
	color: #515151;
}

.open-yellow {
	color:  #FFB124;
}

.open-normal {
  font-weight: normal;
}

.open-bold {
	font-weight: 700;
}

.open-semi {
	font-weight: 600;
}

.open-thin {
	font-weight: 300;
}

