.home-page {
  margin-top: 100px;
  .bg-section {
    background-image: url('../../assets/images/bg-home-hero.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero {
    display: flex;
    max-width: 1243.51px;
    padding: 100px 0px 83.93px;
    margin: 0 auto;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 100px 20px 84px;
    }
    // @media (max-width: 768px) and (min-width: 990px){
    //   display: flex;
    //   flex-direction: column;
    //   padding: 100px 20px ;
    // }

    .content {
      max-width: 440px;
      flex-shrink: 0;

      @media (max-width: 768px) {
        max-width: 100%;
      }
    }


    .headng-one {
      padding-bottom: 50px;
      font-weight: 500;
      font-size: 49px;
      line-height: 58px;
    }

    .open-para-25 {
      padding-bottom: 15px;
    }

    .hero-bg-img {
      max-width: 756.51px;
      height: auto;

      @media (min-width: 1024px) {
        max-width: 507.51px;
      }
    }
  }

  .for-edu {
    max-width: 1243.51px;
    margin: 0 auto;
    padding: 0px 0 100px 0;
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 60px 20px 60px 20px;
    }

    .block {
      background: #084892;
      box-shadow: 0px 10px 25px 5px rgba(8, 72, 146, 0.2);
      border-radius: 5px;
      padding: 20px 50.1px 20px 20px;
      width: 579px;
      display: flex;
      justify-content: flex-end;

      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 40px;
      }

      .content {
        max-width: 210px;
      }
    }
  }

  .create-content {
    max-width: 1243.51px;
    margin: 0 auto;
    padding-bottom: 100px;

    @media (max-width: 768px) {
     padding: 0 20px 100px 20px;
    }

    .heading {
      max-width: 650px;
      margin: 0 auto;
      text-align: center;

      p {
        padding-top: 40px;
        padding-bottom: 50px;
      }

      img {
        width: 250px;
      }
    }

    .all-blocks {
      display: flex;
      justify-content: space-between;
      padding: 0;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
      .block {
        text-align: center;

        .block-img {
          width: 230px;
        }
        .block-text{
          max-width: 382px;
          padding: 35px 37px 0;
          p {
            color: #666;
            line-height: 1.7em;
            font-weight: 500;
            text-align: center;

            span {
              font-weight: bold;
            }
          }
        }
      }
    }

    .lear-more {
      text-align: center;
      padding: 46px 10px 10px;

      .learn-text{
        margin-bottom: 48px;
      }
      .open-button{
        color: #FFFFFF;
        border-width: 0px;
        border-color: #084892;
        border-radius: 40px;
        font-size: 16px;
        font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
        font-weight: 700;
        box-shadow: 0px 10px 20px -5px rgba(8, 72, 146, 0.35);
        text-transform: uppercase;
        background-color: #084892;
        padding: 14px 40px;
        text-decoration: none;
      }
    }
  }

  .stats {
    background-image: url('../../assets/images/9_home_bg_1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .content {
      max-width: 1440px;
      margin: 0 auto;
      padding: 150px 145px 100px 100px;

      @media (max-width: 767px){
        padding: 100px 20px 100px 20px;
      }

      .stat-btn{
        font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
        max-width: 427.19px;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        border: 1px solid #fff;
        border-radius: 25px;
        text-decoration: none;
        margin: 50px auto 0;
        padding: 15px 10px;
      }
    }

    .heading {
       text-align: center;
       max-width: 1060px;
       margin: 0 auto;

      p{
        padding: 30px 10px 78px 10px
      }
    }

    .all-blocks {
      display: flex;
      justify-content: space-between;
      // padding: 0px 100px;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }

      .block {
        width:200px;
        padding:0 0 10px;
        border-bottom: 5px solid #FFB124;
        text-align: center;

        @media (max-width: 768px){
          margin-bottom: 50px;
        }

        .stats-img {
          width: 80px;
        }
        .stats-img2 {
          width: 115px;
        }

        .et_pb_module_header {
          font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
          font-weight: 500;
          font-size: 66px;
          line-height: 78px;
          text-align: center;
          padding: 10px 0px 0;
          color:#ffff
        }
      }
    }

//     button {
//       width: 377px;
// height: 45px;
// font-weight: bold;
// font-size: 16px;
// line-height: 19px;
// background:transparent;
// border-radius: 30px;
// display: flex;
// justify-content: center;
// align-items: center;
// padding:0px 15px;
// border:1px solid #FFFFFF;
// color:#fff;
// margin: 50px auto 0px;
//     }
  }
}

.tech-section{
  width: 100%;
  padding-top: 5rem;

  .tech-heading{
    font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
    text-align: center;
    color: #084892;
    font-weight: 550;
    font-size: 32px;
    line-height: 38px;

  }
  .tech-content {
    padding-top: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1100px;
    flex-wrap: wrap;
    margin: auto;

    img{
      width: 139px;
      height: auto;
      margin-bottom: 115px;
    }
  }
  .tech-content2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1100px;
    flex-wrap: wrap;
    margin: auto;
    @media (max-width: 767px) {
      flex-direction: column;
    }

    img{
      width: 139px;
      height: auto;
      margin-bottom: 115px;
    }
  }
}
.slick-dots li.slick-active button:before {
  opacity: 5.75;
  color: #f59604;
}

.slick-dots li button:before {
  font-size: 13px;
  line-height: 20px;
  opacity: 3.25;
  color: #f9f9f987;
}
.customer-section{
  background: #084892;
  width: 100%;
  padding: 101px 0 140px;

  @media (max-width: 768px){
    padding: 101px 20px 100px;
  }

  .customer-content{
    text-align: center;

    .customer-title{
      font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
      color:#f8af2c;
      font-weight: 550;
      font-size: 49px;
      line-height: 58px;
    }
    .customer-slider{
      padding-top: 115px;
      max-width: 975px;
      margin: auto;
     .qoute1{
      display: flex;
     }
     .qoute2{
      display: flex;
      margin-left: auto;
     }
      .slider-content{
        text-align: center;
        display: flex;
        flex-direction: column;


        .author{
          display: flex;
          justify-content: center;
          flex-direction: row;
          align-items: start;
          padding-top: 3rem;
          padding-bottom: 3rem;

          .author-name{
            font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
            color: #FFFFFF;
            font-size: 18px;
            line-height: 26px;
            font-weight: 100;
            max-width: 154px;
            text-align: left;
          }
          .author-img{
            margin-right: 25px;
          }
        }
       .slider-text{
          font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
          font-weight: 300;
          font-size: 25px;
          line-height: 34px;
          color:#FFFFFF;
          padding: 0 65px;
          @media (max-width: 767px) {
            padding: 0 24px;
          }
        }
      }


    }
  }
}

.start-section{
  width: 100%;
  // height: 919.9px;
  padding-top: 5rem;

  @media (max-width: 767px){
    padding: 100px 20px 0;
  }

  .start-title {
    font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
    color: #084892;
    text-align: center;
    font-weight: 550;
    font-size: 32px;
    line-height: 38px;
  }
  .start-content{

    margin: auto;
    .start-content-btn{
      display: flex;
      justify-content: space-between;
      padding-top: 63px;
      max-width: 956px;
      margin: auto;
      @media (max-width: 768px) {
        flex-direction: column;
      }

      .demo-title{
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 768px) {
          margin-bottom: 50px;
        }

        .damo-btn{
          font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
          max-width: 155px;
          margin-top: 21px;
          border-radius: 20px;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          color: #084892;
          text-decoration: none;
          padding: 10px 42px;
          border: 1px solid #084892;
          box-sizing: border-box;
          border-radius: 23px;
          transition: color 300ms ease 0ms;

          &:hover{
            color: #FFFFFF;
            background-color: #084892;
          }
        }
      }
      .start-damo{
        font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
        font-weight: 550;
        font-size: 32px;
        line-height: 38px;
        color: #084892;
        span{
          color: #f8af2c;
          font-weight: 550;
          font-size: 32px;
          line-height: 38px;
        }

        @media (max-width: 767px) {
          font-size: 28px;
          span{
            font-size: 28px;
          }
        }
      }

    }
  }

  .start-content-contact-us{
    max-width: 1100px;
    margin: 130px auto 100px;

    @media (max-width: 990px) and (min-width:768px){
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 767px) {
      margin-top: 40px;
    }

    .content-title{
      font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
      color: #084892;
      font-weight: 550;
      font-size: 36px;
      line-height: 43px;
    }
    .content-text{
      font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
      margin-top: 10px;
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 25px;
      max-width: 507px;
      color: #515151;
    }
    .main-content{
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .contact-us-form{
        width:507px ;

        @media (max-width: 767px) {
          width: 100%;
        }

        .name-group{
          display: flex;
          justify-content: space-between;
          @media (max-width: 767px) {
            flex-direction: column;
          }

          .input-FN{
            width: 100%;
            font-size: 16px;
            font-weight: normal;
            line-height: 22px;
            color: #33475b;
            border: 1px solid #cbd6e2;
            border-radius: 15px;
            background-color: #f5f8fa;
            height: 40px;
            padding: 0px 15px;

            &:focus{
              outline: none;
              border: 1px solid #74b9ef;
            }
          }
        }
        label{
          font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
          font-weight: 300;
          font-size: 14px;
          line-height: 19px;
          color: #515151;
          margin-bottom: 5px;
        }
        .slect-group{
          display: flex;
          justify-content: space-between;
          @media (max-width: 767px) {
            flex-direction: column;
          }

          .option-fild{
            width: 231px;
            font-size: 16px;
            font-weight: normal;
            line-height: 22px;
            color: #33475b;
            border: 1px solid #cbd6e2;
            border-radius: 5px;
            background-color: #f5f8fa;
            height: 40px;
            padding: 0px 15px;

            @media (max-width: 767px) {
              width: 100%;
            }

            &:focus{
              outline: none;
              border: 1px solid #74b9ef;
            }
          }
        }
        .email-group{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          input[type="email"],input[name="companyName"]{
            width: 100%;
          }

          .text-msm{
            width: 100%;
            font-weight: normal;
              line-height: 22px;
              color: #33475b;
              border: 1px solid #cbd6e2;
              border-radius: 15px;
              background-color: #f5f8fa;
              padding: 7.5px 15px;
              margin-bottom: 50px !important;

              &:focus{
                outline: none;
                border: 1px solid #74b9ef;
              }
          }
          .errer{
            color: #f2545b;
            margin-top: -23px;
            margin-bottom: 25px;
            font-size: 13px;
          }
        }
        input{
          width: 100%;
          font-size: 16px;
          font-weight: normal;
          line-height: 22px;
          color: #33475b;
          border: 1px solid #cbd6e2;
          border-radius: 15px;
          background-color: #f5f8fa;
          height: 40px;
          padding: 0px 15px;
          margin-bottom: 25px;
        }
        input:focus{
          outline: none;
          border: 1px solid #74b9ef;
        }
      }

      .submit-btn{
        background: #084892;
        border-color: #084892;
        color: #ffffff;
        font-weight: bold;
        font-size: 12px;
        line-height: 12px;
        font-family: Open Sans;
        border-radius: 15px;
        padding: 12px 24px;
        border: none;
      }
    }
    .content-img{
      max-width:510.3px;
      height: auto;
    }
  }
}